In [1]:
#   importing necessary module
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,roc_auc_score
import pickle as pk

In [2]:
data_t=pd.read_csv("True.csv")        # reading true dataset
data_f=pd.read_csv("Fake.csv")        # reading fake dataset

In [3]:
print(data_t.index)
print(data_f.index)

RangeIndex(start=0, stop=21417, step=1)
RangeIndex(start=0, stop=23481, step=1)

In [4]:
data_t['class']=1
data_f['class']=0

In [5]:
print(data_t.isna().sum(),data_f.isna().sum())

title      0
text       0
subject    0
date       0
class      0
dtype: int64 title      0
text       0
subject    0
date       0
class      0
dtype: int64

In [6]:
data_t.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [7]:
data_f.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
data_t.drop(['subject'],axis=1,inplace=True)
data_t.drop(['date'],axis=1,inplace=True)
data_t.drop(['title'],axis=1,inplace=True)
data_f.drop(['title'],axis=1,inplace=True)
data_f.drop(['subject'],axis=1,inplace=True)
data_f.drop(['date'],axis=1,inplace=True)

In [9]:
data_t.head()

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [10]:
data_f.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [11]:
data=pd.concat([data_t,data_f],axis=0)
data.columns

Index(['text', 'class'], dtype='object')

In [12]:
print(data.isna().sum())
data.info()

text     0
class    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 44898 entries, 0 to 23480
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    44898 non-null  object
 1   class   44898 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.0+ MB

In [13]:
data.head()

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [14]:
data.tail()

                                                    text  class
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

In [15]:
data=data.sample(frac=1)

In [16]:
data.head()

                                                    text  class
8404   AUSTIN, Texas (Reuters) - Texas and four other...      1
1471   WASHINGTON (Reuters) - U.S. Health and Human S...      1
4641   The most infamous leader of the Ku Klux Klan h...      0
10056  Nancy Pelosi just flunked Constitutional Law! ...      0
8263   Beyonce is one of the most sought-after perfor...      0

In [17]:
data.reset_index(inplace=True)

In [18]:
data.drop(['index'],axis=1,inplace=True)
data.columns

Index(['text', 'class'], dtype='object')

In [19]:
data.head(2)

                                                text  class
0  AUSTIN, Texas (Reuters) - Texas and four other...      1
1  WASHINGTON (Reuters) - U.S. Health and Human S...      1

In [20]:
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['class'],test_size=0.2,random_state=0)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(35918,)
(35918,)
(8980,)
(8980,)

In [21]:
vect=TfidfVectorizer()
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)

In [22]:
clas2=LogisticRegression()
clas2.fit(x_train,y_train)

LogisticRegression()

In [23]:
y_pred2=clas2.predict(x_test)
accuracy2=accuracy_score(y_test,y_pred2)

In [24]:
precision=precision_score(y_test,y_pred2)
recall=recall_score(y_test,y_pred2)
f1=f1_score(y_test,y_pred2)
rou=roc_auc_score(y_test,y_pred2)

In [25]:
print("Accuracy score:",accuracy2)
print("precision score:",precision)
print("recall score:",recall)
print("f1_score :",f1)
print("rou_auc_score:",rou)

Accuracy score: 0.988641425389755
precision score: 0.9856807511737089
recall score: 0.9903301886792453
f1_score : 0.988
rou_auc_score: 0.9887304951835044

In [26]:
model=pk.dump(clas2,open("fakenews.pkl","wb"))

In [ ]:
#     Testing the trained Model

n=input("enter:")
a=[]
a.append(n)
mod=pk.load(open("fakenews.pkl","rb"))
news=vect.transform(a)
prediction=mod.predict(news)

if prediction==[0]:
    print("it is fake news")
else:
    print("it is real news")